@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  background-color: var(--Almost-White);
  font-family: "Epilogue", sans-serif;
  height: 100vh;
}


/* NAVBAR STYLING */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  max-width: 1600px;
  margin: 0 auto;
}

.nav-left {
  display: flex;
  align-items: center;
}

#logo {
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;
  margin-right: 50px;
}

ul {
  list-style-type: none;
}

#features {
  position: relative;
}

#company {
  position: relative;
}

.nav-ul {
  display: flex;
  color: var(--Medium-Gray);
  gap: 50px;
}

.nav-li:hover {
  color: var(--Almost-Black);
  cursor: pointer;
}

.nav-ul img {
  margin-left: 4px;
}

.nav-button {
  all: unset;
  font-family: "Epilogue", sans-serif;
  color: var(--Medium-Gray);
  height: 40px;
  width: 120px;
  text-align: center;
}

.nav-button:hover {
  color: var(--Almost-Black);
  cursor: pointer;
}

#register-button {
  border: 3px solid var(--Medium-Gray);
  border-radius: 15px;
}

#register-button:hover {
  border: 3px solid var(--Almost-Black);
}

.hidden-features {
  position: absolute;
  top: 40px;
  left: -80px;
  background-color: var(--Almost-White);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  display: none;
}

.hidden-company {
  position: absolute;
  top: 40px;
  background-color: var(--Almost-White);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  width: 130px;
  display: none;
}

.hidden-features ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 30px;
  font-size: 15px;
}

.hidden-company ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 30px;
  font-size: 15px;
}

.hidden-features li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--Medium-Gray);
}

.hidden-company li {
  color: var(--Medium-Gray);
}

.hidden-features li:hover {
  color: var(--Almost-Black);
  cursor: pointer;
}

.hidden-company li:hover {
  color: var(--Almost-Black);
  cursor: pointer;
}

.hidden-features img {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

/* MAIN PAGE STYLING */

.container {
    margin: 100px auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    
}

#hero-img {
    max-height: 700px;
    max-width: 525px;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

h1 {
    font-size: 80px;
    max-width: 540px;
}

.main-text {
    color: var(--Medium-Gray);
    max-width: 400px;
    line-height: 25px;
    margin-top: 60px;
}

.main-button {
    all: unset;
    font-family: "Epilogue", sans-serif;
    color: var(--Almost-White);
    background-color: var(--Almost-Black);
    height: 45px;
    width: 180px;
    text-align: center;
  border-radius: 15px;
    font-weight: 700;
    border: 3px var(--Almost-Black) solid;
    margin-top: 80px;
}

.main-button:hover {
    cursor: pointer;
}

.main-button:active {
    background-color: var(--Almost-White);
    color: var(--Almost-Black);
    border: 3px var(--Almost-Black) solid;
    border-radius: 15px;

}

.sponsors-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    width: 540px;
}